* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-image: url(https://s3.amazonaws.com/i.snag.gy/ChNAa6.jpg);
	background-size: cover;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

h1 {
	margin-left: 10px; 
}

.navbar {
	background-color: #0C1248;
	color: #fff;
		padding: 10px 0;
		font-family: 'Roboto', sans-serif;
		position: fixed; /* Fixa a barra de navegação no topo */
		width: 100%; /* Garante que a barra de navegação ocupe toda a largura */
		z-index: 1000; /* Coloca a barra de navegação acima de outros conteúdos */
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container2 {
	margin-top: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding:15px;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo {
	font-size: 24px;
	color: #FE0000;
	margin-left: 10px;
}

.nav-links {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
}

.nav-links li {
	margin-left: 20px;
}

.nav-links li:first-child {
		margin-left: 0; /* Removido o espaçamento do primeiro item */
}

.nav-links li a {
		text-decoration: none;
		color: #fff;
		transition: color 0.3s ease;
		font-weight: 500;
}

.nav-links li a:hover {
		color: #ffd700; 
}

/* Estilos para dispositivos móveis */
/* Estilos para dispositivos móveis */
@media only screen and (max-width: 768px) {
		.container {
			flex-direction: column;
			align-items: center; 
		}

		#boxx {
			margin-top: 110px;
		}

		.logo-container {
				margin-bottom: 5px; 
		}
		.nav-links {
				margin-top: 20px; 
		}

		.profile-picture, .metodo {
				align-self: flex-start; /* Ajustado o alinhamento vertical da imagem */
		}
}
.profile-picture, .metodo {
		width: 40px; 
		height: auto;
		border-radius: 50%; 
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.buttons {
	max-height: 200px;
	position: fixed;
	margin: auto;
}

button:not(.btn2){
	background:#FE0000;
	color:#fff;
	border:none;
	position:relative;
	height:30px;
	font-size:0.7em;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}
button:hover:not(.btn2){
	background:#fff;
	color:#FE0000;
}
button:before,button:after:not(.btn2){
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #FE0000;
	transition:400ms ease all;
}
button:after:not(.btn2){
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
button:hover:before,button:hover:after:not(.btn2){
	width:100%;
	transition:800ms ease all;
}

.nav-links li .btn2 {
	background-color: red;
	padding: 10px 20px; 
	border-radius: 5px; 
	color: white;
	text-decoration: none; 
	transition: background-color 0.3s ease; 
}

.nav-links li .btn2:hover {
		background-color: darkred; 
}

h5 {
	margin-top: 10px;
}

/*.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}*/

.box {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	width: 100vw;
	height: 95vh;
	flex-direction: row;
	text-align: center;
	overflow-y: auto; /* Permite a rolagem nesta área */
	flex: 1; /* Faz com que esta área ocupe o espaço restante */
	padding: 20px; /* Adiciona preenchimento para o conteúdo */
	margin-top: 80px; /* Espaçamento extra, se necessário */
}

table{
	align: center;
	margin: auto;
	text-align: center;
	margin: 50px;
	
}

td{
	align: center;
	margin: auto;
	text-align: center;
}

tr{
	align: center;
	text-align: center;
	margin: auto;
}

th, td {
	padding: 12px 15px;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #111C43;
}

th {
	background-color: #2e367a;
}

tr:hover {
	background-color: #111C43;
}

.button-34 {
	padding: 1em 2em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: white;
	background-color: red;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin-top: 10px;
	margin-bottom: 50px;
}

.button-34:hover {
	background-color: black;
	box-shadow: 0px 15px 20px rgba(122, 103, 238, 0.4);
	transform: translateY(-7px);
}

.button-33 {
	height: 100px;
	padding: 1em 2em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #B0E0E6;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin-top: 10px;
}

.button-33:hover {
	background-color: #1E90FF;
	box-shadow: 0px 15px 20px rgba(122, 103, 238, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

.button-33:active{
	transform: translateY(-1px);
}

center{
	width:100%
	height: 100%
}

#rnota {
	margin-top: 50px;
}

#metodologo {
	margin-top:10px;
	width: 100px;
	height: 100px;
}
::-webkit-scrollbar {
	width: 5px;
	height: 15px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(45deg, #3100e0, #060019);
	border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}

*:not(h2, h5) {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 0;
}

h2 {
	font-family: 'Verdana', serif;
	margin-top: 10px;
	border: 1px solid white;
	padding:5px;
	color: white;
	margin-right:20vw;
	margin-left:20vw;
}

p.desc {
	margin-bottom: 10px;
	color: white;
}
#name {
	font-size: 25pt
}
strong{
	font-size: 15pt;
}

.grafico-barra-container {
	display: flex;
	justify-content: center;
	flex: 1;
	margin: 1;
}

.grafico-barra {
	background: #ffffff;
	border-radius: 20px;
	box-shadow: inset 0 0 0 1px #969FAA;
	height: 1.5em;
	overflow: hidden;
	position: relative;
	text-indent: 100%;
	width: 125%
}

#destaques{
	margin-bottom: 20px;
}

.grafico-barra-container .titulo {
 /* text-transform: uppercase;*/
	font-size: 20pt;
	color: white;
}

.destaque {
 /* text-transform: uppercase;*/
	color: white;
	font-size: 20pt;
}

.grafico-barra-container .porcentagem {
	color: #FE0000;
	font-size: 20pt;
}

.grafico-barra-container .coluna {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: right;
	padding: 0 10px;
}

.grafico-barra-progresso {
	border-radius: 20px;
	left: 0;
	top: 0;
	min-height: 1.5em;
	position: absolute;
	background-color: #FE0000;
	animation: anim-lightspeed-in 1s ease forwards;
	transition: all .5s ease-in-out;
}

@keyframes anim-lightspeed-in {
	0% {
		transform: translateX(-200%);
		opacity: 1;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.circle {
	position: relative;
	top: 5px;
	left: 5px;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #ffffff;
		align-items: center;
	justify-content: center;
	display:flex;
}

.circle-border {
	position: relative;
	text-align: center;
	width: 110px;
	height: 110px;
	margin-left: 30%;
	border-radius: 100%;
	background-color: #E53B3B;
	background: white;
}

#title {
	background-color: red;
	color: white;
	margin-right: 2vw;
	margin-left: 2vw;
}

canvas {
	border: 2px solid #a3a3a3;
	display: block;
	margin: 20px auto;
	width: 350px;
	height: 200px;
	padding: 10px;
}

#radarChart{
	width: 350px;
}

.num {
	background: red;
	color: white;
}

.correct {
	/*background: #000129;*/
	color: #ffffff;
}

.correctcheck {
	/*background: white;*/
	color: #000129;
}

.resp {
	/*background: #000129;*/
	color: white;
}

.dontshow {
	color: black
}
.show {
	color: black
}

table {
	margin: auto;
	border-collapse: collapse;
	width: 40%;
}

th, td {
	padding: 5px; 
	text-align: center;
	border-bottom: 1px solid #ddd;
	color: white;
}

tr .materia{
	background-color: #ffffff;
	color: #000129;
	font-weight: bold
}

th {
	background-color: #4CAF50;
	color: white; 
}

strong, p, h5 {
	color: white;
}

a{
	text-decoration: none;
}
#nota{
	margin-top: 5px;
	color: white;
	margin-left: 50px;
	margin-right: 50px;
	font-size:0.7em;
}
#nota2, #notaa {
	margin-top: 5px;
	font-size:0.7em;
	color: white;
}

#nota3 {
	margin-top: 5px;
	color: white;
	font-size:0.7em;
}

@media print {
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 0.8em; 
	}
	
	html, body {
		margin: 0;
		padding: 0;
		background-image: none;
		background-size: cover;
	}

	.button-33, #notaa {
		display: none;
	}

	.box {
		width: 60%;
		height: auto;
		overflow: visible;
		background: none;
		box-shadow: none;
		padding: 0;
		margin-top: 90px;
	}

 	.buttons, .no-print {
		display: none; 
	}

	table {
		width: 100%;
		margin: 0;
		font-size: 0.9em; 
	}

	th, td {
		padding: 3px; 
		border: 1px solid #000;
		background-color: #fff;
		color: #000;
	}

	.grafico-barra {
		box-shadow: none; 
		height: 1em; 
		border: 1px solid #969FAA;
		position: relative; 
	}

	.grafico-barra-progresso {
		background-color: #FE0000;
		width: 100%; 
		position: absolute; 
		left: 0;
	}

	.namecolorouro,
	.namecolorprata,
	.namecolorbronze {
		background: none;
		color: inherit;
	}

		/* Outros ajustes específicos para impressão */
	a {
		color: #ffffff;
		text-decoration: underline;
	}

	.circle, .circle-border {
		width: 60px;
		height: 60px;
	}
}
