* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("https://s3.amazonaws.com/i.snag.gy/hATqGL.jpg");
	background-size: cover;
	overflow-y: auto; 
}

body {
		overflow-y: auto;
}

h1 {
		margin-left: 10px; /* Adicionado para separar um pouco o nome do método da imagem */
}

/* Estilos da navegação */
.navbar {
		background-color: #0C1248; 
		color: #fff;
		padding: 20px 0;
		font-family: 'Roboto', sans-serif; 
}

.container {
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

.instagram-media{
	margin-top:25px;
}

.container2 {
	width: 100%;
	margin-top: 15px;
	padding: 0 20px;
	overflow: hidden;
	display: flex;
	justify-content: center; 
	align-items: center; 
}

.logo-container {
		display: flex; /* Adicionado */
		align-items: center; /* Adicionado */
}

.logo {
		font-size: 24px;
		color: #FE0000;
}

.nav-links {
		list-style: none;
		padding: 0;
		display: flex; /* Alterado */
		align-items: center; /* Alterado */
}

.nav-links li {
		margin-left: 20px;
}

.nav-links li:first-child {
		margin-left: 0; /* Removido o espaçamento do primeiro item */
}

.nav-links li a {
		text-decoration: none;
		color: #fff;
		transition: color 0.3s ease;
		font-weight: 500;
}

.nav-links li a:hover {
		color: #ffd700; 
}

@media only screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		align-items: center;
	}

	.logo-container {
		margin-bottom: 5px; 
	}

	.nav-links {
		margin-top: 20px; 
		display: flex;
		flex-wrap: wrap;
		justify-content: center; 
	}

	.profile-picture, .metodo {
		align-self: flex-start;
	}
}

.profile-picture, .metodo {
		width: 40px; 
		height: auto;
		border-radius: 50%; 
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.nav-links li .btn2 {
	background-color: red;
	padding: 10px 20px; 
	border-radius: 5px; 
	color: white;
	text-decoration: none; 
	transition: background-color 0.3s ease; 
}

.nav-links li .btn2:hover {
		background-color: darkred; 
}